<header class="header">
  <nav class="navbar navbar-dark bg-ctolenk">
      <a class="navbar-brand" href="#">
        <img class="img-brand" src="assets/images/ctolenk-gray.png" alt="ctolenk-gray">           
      </a>
      <div class="social">
        <ul>				
            <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-github"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-globe"></i></a></li>
          </ul>
      </div>     
  </nav>
</header>