
<!-- Header -->
<ct-header class="header"></ct-header> 
<!-- End Header -->

<!-- Main  - this contains the most important components to app -->
<main class="container wrapper">
  <div class="row">
      <div class="col-7">
        <ct-table-schedule 
          [scheduleData]="scheduleData | async" 
          [headerTitleTable]="headerTitleTable"
          (modeEdit)="editUser($event)"
          (modeDelete)="deleteUser($event)"          
          >
        </ct-table-schedule>
      </div>
      <div class="col-5">
          <ct-form-schedule
            (modeAdd)="addUserForm($event)"
            (modeEdit)="editUserForm($event)"
          >
          </ct-form-schedule>
        </div>
    </div>    
</main>
<!-- End Main -->

<!-- Footer --> 
<ct-footer class="footer"></ct-footer>
<!-- End Footer -->


