
<div class="card">
  <div *ngIf="modeCreate" class="card-header bg-primary text-center">
    <h5>Add new user</h5>
  </div>
  <div *ngIf="!modeCreate" class="card-header bg-primary">
    <div class="container-header-button">
      <h5>Edit existing user</h5>
      <button (click)="changeModeF()" type="button" class="btn "><i class="fa fa-close"></i> </button>  
    </div>  
  </div>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"> <i class="fa fa-user"></i></span>            
          </div>
          <input type="text" formControlName="nameUser" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nameUser.errors }" placeholder="Name Person" />
          <div *ngIf="submitted" class="invalid-feedback">
                Name is required
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"> <i class="fa fa-phone"></i></span>
          </div>
          <input type="number" formControlName="phoneUser" minlength="10" maxlength="10" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phoneUser.errors }" placeholder="Name Person" />
          <div *ngIf="submitted" class="invalid-feedback">
            Phone is required with its 10 digits
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"> <i class="fa fa-mobile"></i></span>
          </div>
          <input type="number"  formControlName="mobileUser"  class="form-control"  placeholder="Mobile Number" >            
        </div>
      <button  class="btn btn-primary btn-block">Save User</button>      
   </form> 
</div>



