.bg-primary{
    background-color: var(--secondary-color)!important;
    color: var(--text-color);
}

.btn-primary{
    background-color: var(--primary-color)!important;
    border-color: aliceblue!important;
}

.btn.btn-primary:hover{
    background-color: var(--primary-color-dark)!important;   
}

.container-header-button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 0;
}