<div class="table-responsive">
  <table class="table">
    <thead class="theme-dark-light">
      <tr>
        <th scope="col">#</th>
        <th *ngFor="let title of headerTitleTable" scope="col">{{title}}</th>    
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of scheduleData; let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{user.name}}</td>
        <td>{{user.phone | formatphone}}</td>
        <td>{{user.mobile | formatphone}}</td>
        <td>  
          <button (click)="editUser(user)" type="button" class="btn btn-warning"><i class="fa fa-edit"></i> </button>  
          <button (click)="deteleuser(user._id)" type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>        
        </td>
      </tr>  
    </tbody>
  </table>
</div>
 
